
html {
    scroll-behavior: smooth;
   }
body{
   font-family: 'Work Sans', sans-serif;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
/*start landing section*/

.landing{
    background-image: url(../images/bg.jpg);
    background-size: contain; 
    height: calc(100vh - 64px);
    background-repeat: no-repeat;
    opacity: 0.9;
    position: relative;
    margin-left: 150px;
    margin-top: 220px;
}

.landing .intro-text{
    position: absolute;
    left: 50%;
    top:30%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    
}

.landing .intro-text h1{
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 2px;
  line-height: 1.8;
  }

.landing .intro-text p{
margin: 0;
font-size: 40px;
line-height: 1.8;
color: rgb(0, 255, 98);
font-weight: bold;
max-width: 100%;
}

@media(max-width:767px){
    .content{
        padding-left: 0px;
        padding-right: 60px;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
    .landing{
        background-image: url(../images/bg.jpg);
        width: 75%;
        background-size: contain; 
        height: calc(100vh - 64px);
        background-repeat: no-repeat;
        opacity: 0.9;
        padding-left: 20px;
    }
    .content::before{
        content: "يمكنك التواصل معنا عبر واتساب";
        white-space: pre-wrap;
        left: 330px;
        right: 10px;
        position: fixed;
        font-size: 21px;
        font-weight: bold;
        top: 225px;
        color: #29a529;
    }
    .content::after{
        content: "يمكنك الاتصال بنا هاتفيا";
        white-space: pre-wrap;
        right: 325px;
        left: 23px;
        position: fixed;
        font-size: 21px;
        font-weight: bold;
        top: 225px;
        color: #a54629;
    }
    .landing .intro-text{
        position: absolute;
        left: 57%;
        top: 10%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 200px;
        
    }
    
    .landing .intro-text h1{
        margin: 0px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-top: 32px;;
      }

    
    .landing .intro-text p{
        margin: 0;
        font-size: 19px;
        line-height: 1.8;
        color: rgb(251 255 35);
        font-weight: bold;
        max-width: 100%
    }
   
}

/*end landing section*/

/* وسائل التواصل*/
#footer-down {
    position: relative;
    top: 30px;
    text-align: center;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
#footer-down ul li {
    display: inline-block;
    margin-right: 20px;
}

.whatsapp_float {
    position: fixed;
    width: 79px;
    height: 79px;
    bottom: 100px;
    right: 19px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 42px;
    text-align: center;
    font-size: 49px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.call_float {
    position: fixed;
    width: 79px;
    height: 79px;
    bottom: 103px;
    left: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media(max-width:767px){
    #footer-down {
        position: relative;
        top: 30px;
        text-align: center;
    }
    ul, ol {
        margin-top: 0;
        margin-bottom: 10px;
    }
    #footer-down ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    @keyframes change-color2 {
        from{
            color: rgb(198, 146, 69);
        }

        to{
            color: white;
        }
        
    }
    .whatsapp_float {
        position: fixed;
        width: 55px;
        height: 55px;
        bottom: 225px;
        right: 19px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 42px;
        text-align: center;
        font-size: 31px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        animation-name: change-color2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes change-color {
        from{
            color: white;
        }

        to{
            color: red;
        }
        
    }
   
    .call_float {
        position: fixed;
        width: 48px;
        height: 48px;
        bottom: 225px;
        left: 15px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
        animation-name: change-color;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
  
  
}
/* وسائل التواصل*/

/*cards*/
.card{
    right:68px;
}
/*cards*/
/*about us*/
.about-us{
    color: darkmagenta;
    line-height: 1.8;
}
/*about us*/
